# task_One

## Download fasta file from NCBI

_Date: 03/28/2017_

### Test 2

In [1]:
from Bio import Entrez
Entrez.email = 'savandara.besse@gmail.com'

In [4]:
search_handle = Entrez.esearch(db="nucest",term="Drosophila melanogaster[Organism]")
results = Entrez.read(search_handle)
search_handle.close()

In [6]:
results['Count']

20

In [7]:
search_handle = Entrez.esearch(db="nucest",term="Drosophila melanogaster[Organism]", retmax=results['Count'])
final_result = Entrez.read(search_handle)
search_handle.close()

In [8]:
len(final_result['IdList'])

821005

In [40]:
out_handle = open('test.fna', "w")
for elem in results['IdList'] :
    net_handle = Entrez.efetch(db="nucest", id=elem, rettype="fasta", retmode="text")
    out_handle.write(net_handle.read())
out_handle.close()
net_handle.close()
print("Saved")

In [11]:
import pandas as pd 

df = pd.read_csv('/home/savy/Documents/2017_master_internship/infoTracker/hmmOrder.csv')
df

       Order name                Species name  #Protein    #EST
0       Blattodea     Zootermopsis nevadensis   14610.0    8322
1      Coleoptera         Tribolium castaneum   18534.0  185437
2      Collembola           Orchesella cincta       NaN    1146
3         Diplura       Catajapyx aquilonaris       NaN       0
4         Diptera          Zaprionus indianus   23304.0  821005
5   Ephemeroptera             Ephemera danica       NaN       0
6       Hemiptera          Trionymus perrisii       NaN  214834
7     Hymenoptera      Wasmannia auropunctata   18742.0  169511
8     Lepidoptera       Spodoptera frugiperda   16912.0  568825
9         Odonata                Ladona fulva       NaN       0
10     Orthoptera          Locusta migratoria       NaN   45709
11    Phasmatodea            Timema cristinae       NaN       0
12   Phthiraptera  Pediculus humanus corporis   10775.0    1127
13     Plecoptera         Isoperla grammatica       NaN       0
14   Strepsiptera        Mengenilla moldrzyki       NaN       0
15   Thysanoptera  Frankliniella occidentalis       NaN   13839
16    Trichoptera         Limnephilus lunatus       NaN       0

In [15]:
print(df['Species name'])

0        Zootermopsis nevadensis
1            Tribolium castaneum
2              Orchesella cincta
3          Catajapyx aquilonaris
4             Zaprionus indianus
5                Ephemera danica
6             Trionymus perrisii
7         Wasmannia auropunctata
8          Spodoptera frugiperda
9                   Ladona fulva
10            Locusta migratoria
11              Timema cristinae
12    Pediculus humanus corporis
13           Isoperla grammatica
14          Mengenilla moldrzyki
15    Frankliniella occidentalis
16           Limnephilus lunatus
Name: Species name, dtype: object